## vscode
.vscode/*
*.code-workspace

## common ignores

# result of build commands on different languages
build/
dist/
target/

# temporary files that can be discarded at any moment
tmp/

# mounted volumes use by as database storages on docker
data/

## python
.venv/
__pycache__/
*.py[cod]
*$py.class

## node
node_modules/
