:root {
    --color-primary: #ffc658;
    --color-text-0: #111b21;
    --color-text-1: #54656f;
    --color-text-2: #667781;
    --color-text-3: #8696a0;
    --color-background-0: #ffffff;
    --color-background-1: #f8f8f8;
    --color-background-2: #f0f2f5;
    --color-background-3: #dbdddc;
}
