:root {
    font-family: 'Segoe UI', 'Helvetica Neue', Helvetica, sans-serif;
}

h5 {
    font-size: 1rem;
    font-weight: normal;
}

h6 {
    font-size: 0.75rem;
    font-weight: normal;
    text-transform: uppercase;
}

@mixin label-regular {
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1rem;
}
