:root {
    font-family: 'Segoe UI', 'Helvetica Neue', Helvetica, sans-serif;
}

h5 {
    font-weight: normal;
    font-size: 1rem;
}

h6 {
    font-weight: normal;
    font-size: 0.75rem;
    text-transform: uppercase;
}
