@use '../style/break.scss';

.root {
    flex: 1;
    display: flex;

    background-image: linear-gradient(var(--color-primary) 8rem, var(--color-background-3) 8rem);

    @include break.large {
        padding-block: 1rem;
        padding-inline: 2rem;
    }
}

.root > * {
    background-color: var(--color-background-2);
    flex: 1;
}
